@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Przestepne.Year" class="control-label"></label>
                <input asp-for="Przestepne.Year" class="form-control" />
                <span asp-validation-for="Przestepne.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Przestepne.Name" class="control-label"></label>
                <input asp-for="Przestepne.Name" class="form-control" />
                <span asp-validation-for="Przestepne.Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit">Zatwierdź</button>
            </div>
        </form>
    </div>
</div>
<br />
<br />

@if (Model.Result != null)
{
    <p class="text-success">@Model.Result</p>
}
<br />
<br />
<div>
    <a asp-page="./history">Sprawdź historię</a>
</div>